.sidebar-container {
    height:2000px;
}

/* General Profile Container */
.feedback-container {
    margin: 10px 10px 0 230px;
    width: 1020px;
    min-height: fit-content;
}


.question-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    min-height: fit-content;
}
