@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

.sidebar-container {
    height: 600px;
}

.users-container {
    display: flex; /* Use flexbox to align items horizontally */
    width: 780px; /* Make sure the container takes up the full width */
    height: 580px; /* Define a fixed height */
    margin: 20px 10px 0 350px;
    overflow-x: hidden;
    border-radius: 20px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

.message-container {
    display: flex; /* Use flexbox to align items horizontally */
    width: 780px; /* Make sure the container takes up the full width */
    height: 580px; /* Define a fixed height */
    margin: 20px 10px 0 350px;
    overflow-x: hidden;
    border-radius: 20px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

.users {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cccccc;
}

.users header, 
.users-list a{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

.users img {
    object-fit:cover;
    border-radius: 50%;
}

.users header .content {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.users header .content img{
    width: 80px;
    height: 80px;
}

:is(.users, .users-list) .details {
    margin-top: 10px;
    margin-left: 20px;
    color: #33363a;
}

:is(.users, .users-list) .details span {
    font-size: 20px;
    font-weight: 500;
    color: #33363a;
}

.users .search {
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5px; 
}

.users .search .text {
    font-family: 'SUSE', sans-serif;
    font-size: 18px;
    color: #33363a;
    margin-left: 18px;
}

.users .search input {
    height: 40px;
    width: 94%; /* Let the width occupy the available space */
    border: 1px solid #73767a;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    flex-grow: 1; /* Let the input grow to fill remaining space */
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.active {
    opacity: 1;
    pointer-events: auto;
}

.users .search button {
    background-color: white;
    color: #33363a;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Prevent button from shrinking */
    transition: all 0.2s ease;
}

.users .search button.active {
    background-color: #33363a;
    color: white;
}

.users .search button.active i::before {
    content: "\f00d";
}

.users-list {
    height: 100%;
    overflow-y: auto;
}

.users-list img {
    object-fit:cover;
    border-radius: 50%;
}

.users-list a .content {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.users-list a .content img{
    width: 80px;
    height: 80px;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #2ecc71;
    margin-right: 20px;
}

.users-list a .status-dot.offline{
    color:red;
}

/*Message*/
.users-content {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cccccc;
}

.users-content header {
    background-color: white;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    padding: 10px 20px;
    border-bottom: 1px solid #cccccc;
}

.users-content .back-icon {
    margin-right: 20px; /* Space between the arrow and content */
}

.users-content .back-icon i {
    font-size: 22px;
    color: #33363a;
}

.users-content .content {
    display: flex;
    align-items: center; /* Align image and text in the center */
}

.users-content .content img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* Space between the image and text */
}

.users-content .details {
    display: flex;
    flex-direction: column;
}

.users-content .details span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

:is(.users-content, .users-list) .details {
    margin-top: 10px;
    margin-left: 10px;
    color: #33363a;
}

:is(.users-content, .users-list) .details span {
    font-size: 20px;
    font-weight: 500;
    color: #33363a;
}

.chat-box {
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(135deg, #99FEFF, #B983FF);
}

.chat-box .chat {
    margin: 15px 0;
    display: flex; /* Ensure chat items are flex containers */
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    margin: 0; /* Remove default margins */
}

.chat-box .outgoing {
    flex-direction: row-reverse; /* Align outgoing messages to the right */
    margin-right: 10px;
}

.outgoing .details {
    margin-right: 15px; /* Push outgoing messages to the right */
    max-width: 75%; /* Allow for more width */
}

.outgoing .details p {
    background: #33363a;
    color: white;
    border-radius: 18px 0 18px 18px;
}

.outgoing .details a {
    color: #ffffff;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end; /* Align items at the bottom */
    margin-left: 15px;
}

.incoming .details {
    margin-left: 15px;
    max-width: 75%; /* Allow for more width */
}

.incoming .details p {
    background: white;
    color: #33363a;
    border-radius: 0 18px 18px 18px;
}

.incoming .details a {
    color: #33363a;
}

/*Upload Image*/
.chat-image {
    max-width: 350px;        /* Set a maximum width */
    max-height: 350px;       /* Set a maximum height */
    width: auto;             /* Maintain aspect ratio */
    height: auto;            /* Maintain aspect ratio */
    border-radius: 5px;      /* Rounded corners */
    display: inline;         /* Display inline */
    margin-top: 5px;         /* Space above the image */
    object-fit: cover;       /* Ensures the image covers the container */
    justify-content: center;  /* Centering */
    align-items: center;      /* Centering */
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#modal-image {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Add Animation */
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/*Upload Document*/
.pdf-link {
    display: inline;          /* Display inline */
    margin-left: 5px;        /* Space to the left of the PDF link */
}

.profile-pic-container {
    display: flex; /* Ensure the profile picture container is flexible */
}

.profile-pic {
    width: 50px; /* Set the width of the profile picture */
    height: 50px; /* Set the height of the profile picture */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image does not get distorted */
}

/* Container for the typing area */
.typing-area {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    position: relative;
}

/* Styling for the message input field */
.input-field {
    width: 680px;
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    background-color: white;
    transition: border-color 0.2s ease;
}

.input-field:focus {
    border-color: #33363a;
}

/* Center the emoji picker popup horizontally */
.emoji-picker {
    position: absolute; 
    left: 95%;         
    bottom: 0%;           
}

/* Attach button styling */
.attach-button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.attach-button i {
    color: #33363a;
}

.attach-button:hover i {
    color: #33363a;
}

/* Hide file input */
.attach-input {
    display: none;
}

/* Send button styling */
.send-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.send-button i {
    color: #33363a;
}

.send-button:hover i {
    color: #33363a;
}



