@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* General Profile Container */
.shop-container {
    margin: 10px 10px 0 230px;
    background: transparent;
    width: 1020px;
    height: 1100px;
    padding-bottom: 20px;
}

.shop-items  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between items */
}

.shop-items li {
    background-color: whitesmoke;
    list-style: none;
    width: 24%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

/* Item Picture */
picture {
    width: 100%;
    height: 200px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture img {
    width: 100%;
    height: auto;
}

/* Item Description */
.item-description {
    text-align: center;
    margin-bottom: 10px;
}

.item-description .icon {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between icons */
    margin-bottom: -10px;
}

.item-description strong {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #33363a;
}

/* Price */
.item-description span {
    margin: 10px 0 20px 0;
    display: block;
    font-size: 16px;
    color: #33363a;
}

.item-description small {
    padding: 10px 20px;
    background-color: #33363a;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.item-description small:hover {
    background: linear-gradient(130deg, #34c6fb, #94B3FD);
    color: white;
    border: #eee;
}

/* Filter Sidebar */
.filter-product-container {
    width: 220px;
    height: 840px;
    background-color: white;
    margin-top: 510px;
    position: absolute;
}

.filter-product-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #33363a;
    margin-top: 30px;
}

/* Shop Filter */
.filter-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    font-size: 16px;   
}

.shop-filter {
    list-style: none;
    padding: 0;
}

.shop-filter li {  
    margin: 10px 0;
}

.shop-filter label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.shop-filter input[type="checkbox"] {
    margin-right: 10px;
}

.shop-filter input[type="checkbox"]:checked + span {
    font-weight: bold;
    color: #33363a;
}

.shop-filter label:hover span {
    color: #33363a;
}

/* Filter Price */
.filter-price-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #33363a;
}

.filter-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    font-size: 16px;
}

.price-items {
    list-style: none;
    padding: 0;
}

.price-items li {
    margin: 10px 0;
}

.price-items label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.price-items input[type="radio"] {
    margin-right: 10px;
}

.price-items input[type="radio"]:checked + span {
    font-weight: bold;
    color: #33363a;
}

.price-items input[type="radio"]:hover + span {
    color: #33363a;
}

.pagination a{
    color:#33363a;
}

.pagination li:hover a{
    background: #33363a;
    color: whitesmoke;
    border: #eee;
}