@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

body {
    background: linear-gradient(135deg, #3d3b3b,#33363a);
}

.submit-feedback-form {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100vh - 10px); /* Full height minus navbar height */
}

/* Styling for the submit feedback container */
.submit-feedback-container {
    background-color: transparent;    /* White background for card-like appearance */
    padding: 40px;             /* Padding around the content */
    border-radius: 12px;       /* Rounded corners */
    text-align: center;        /* Center the text inside the box */
    max-width: 600px;          /* Maximum width of the feedback box */
    width: 100%;               /* Take full width up to the max-width */
}

.submit-feedback-container img {
    width: 80px;              /* Set the width of the image */
    height: 80px;             /* Set the height of the image */
    margin-bottom: 20px;       /* Add space between the image and the text */
} 

.navbar-brand {
    font-family: 'Kablammo', cursive;
    font-size: 30px;
    text-decoration: none;
    margin-left: 10px;
    background: #94DAFF;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Create a 3D effect using multiple text-shadow layers */
    text-shadow: 
        1px 1px 0px rgb(249, 252, 255), /* Bottom left shadow in light blue */
        2px 2px 2px rgba(0, 0, 0, 0.2), /* Slightly darker shadow for depth */
        4px 4px 4px rgba(0, 0, 0, 0.15); /* Darker shadow further out */
}

h3, p ,a {
    color: white;            /* Set the text color */
}

h3 {
    font-size: 24px;          /* Set the font size */
    margin-bottom: 20px;      /* Add space between the heading and the text */
}

/* Styling for the button */
.submit-feedback-container a.btn {
    background-color: white;
    color: #33363a;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;          /* Adds space between the text and the button */
    display: inline-block;
    transition: background-color 0.3s ease;
}

.submit-feedback-container a.btn:hover {
    background-color: #e0e3e8;
    text-decoration: none;
    color: #33363a;
}

/* Responsive Design */
@media (max-width: 768px) {
    .submit-feedback-container {
        padding: 20px;
        max-width: 90%;        /* Take up most of the screen on smaller devices */
    }

    .submit-feedback-container a.btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
